.review {
  flex-direction: column;
  display: flex;
}

.review-title {
  font-weight: bold;
  font-size: large;
  justify-content: space-between;
  display: flex;
}

.review-penname {
}

.review-score {
}

.review-body {
}